.studentCard{
  border: solid 2px #333;
  width: 60%;
  margin: 4px auto;
}

.courseCard{
  border: solid 2px #333;
  width: 60%;
  margin: 4px auto;
}

.technology{
  border: dashed 3px red;
  width: 50%;
  margin: 4px auto;
}

.student{
  border: dotted 2px green;
  width: 40%;
  margin: 4px auto;
}